@model FinalProject.Models.MangaRating

@{
    ViewBag.Title = "Delete - Manga Ratings";
}

<h4>Manga Ratings - Delete</h4>

<h5>Are you sure you want to delete this?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalName)
        </dt>

        <dd>
            @if (@Html.DisplayFor(model => model.OriginalName).ToString() != string.Empty)
            {
                @Html.DisplayFor(model => model.OriginalName)
            }
            else
            {
                <span>&nbsp;</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating) / 10
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @if (@Html.DisplayFor(model => model.Link).ToString() != string.Empty)
            {
                <a href="@Html.DisplayFor(model => model.Link)" target="_blank">
                    @Html.DisplayFor(model => model.Link)
                </a>
            }
            else
            {
                <a>&nbsp;</a>
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> &nbsp;|&nbsp;
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
